    .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
  }

  .heading {
    color: white;
    font-size: 96px;
    text-shadow: 0 0 2px black;
    margin-bottom: 8px;
  }
  
  .sub-heading {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 2px black;
  }
  
  .button-container {
    margin-top: 64px;
  }
  
  .button {
    background: red;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 24px;
    border-radius: 4px;
  }

  .button-nav{
    background: red;
    border: none;
    color: white;
    padding: 6px 14px;
    font-size: 20px;
    border-radius: 4px;
  }

  @media only screen and (max-width: 768px) {
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: top;
        flex-direction: column;
      }
    
      .heading {
        color: white;
        font-size: 30px;
        text-shadow: 0 0 2px black;
        margin-bottom: 2px;
      }
      
      .sub-heading {
        color: white;
        font-size: 20px;
        text-shadow: 0 0 2px black;
      }
      
      .button-container {
        margin-top: 64px;
      }
      
      .button {
        background: red;
        border: none;
        color: white;
        padding: 6px 10px;
        font-size: 12px;
        border-radius: 4px;
      }

      .button-nav{
          display: none;
      }

      .content h3{
          font-size: 10px;
      }
  }
  